
// row
@mixin row(){
  margin-left: $gutter / 2 + px;
  margin-right: $gutter / 2 + px;

  &:before,
  &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {clear: both;}
  & {zoom: 1;} /* IE < 8 */
}
